In [57]:
import pandas as pd
import numpy as np

In [58]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BCF8-FA59

 C:\Users\82104\과제테스트 대비 디렉터리

2021-07-17(토)  오후 01:32    <DIR>          .
2021-07-17(토)  오후 01:32    <DIR>          ..
2021-07-08(목)  오후 07:12    <DIR>          .ipynb_checkpoints
2021-07-17(토)  오후 12:31    <DIR>          1번
2021-07-17(토)  오후 01:20    <DIR>          2번
2021-07-17(토)  오후 01:32           105,501 Untitled.ipynb
               1개 파일             105,501 바이트
               5개 디렉터리  22,280,085,504 바이트 남음

In [59]:
df = pd.read_csv('./1번/data/station_day.csv')
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [60]:
df = df[df['PM2.5'].isnull() == False]
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [61]:
rate1 = df[df['PM2.5'] >= 76]
rate2 = df[(df['PM2.5'] >= 36) & (df['PM2.5'] < 76)]
rate3 = df[(df['PM2.5'] >= 16) & (df['PM2.5'] < 36)]
rate4 = df[df['PM2.5'] < 16]

In [62]:
cnt1 = rate1['PM2.5'].count()
cnt2 = rate2['PM2.5'].count()
cnt3 = rate3['PM2.5'].count()
cnt4 = rate4['PM2.5'].count()
print(cnt1, cnt2, cnt3, cnt4)

30509 30264 18894 6743

In [63]:
dfNew = pd.DataFrame({'예보 등급' : ['매우 나쁨', '나쁨', '보통', '좋음'], 'count' : [cnt1, cnt2, cnt3, cnt4]})
dfNew

   예보 등급  count
0  매우 나쁨  30509
1     나쁨  30264
2     보통  18894
3     좋음   6743

In [64]:
dfNew = dfNew.sort_values(by = 'count')
dfNew

   예보 등급  count
3     좋음   6743
2     보통  18894
1     나쁨  30264
0  매우 나쁨  30509

In [65]:
df['예보 등급'] = np.nan

<ipython-input-65-2a5070421b47>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보 등급'] = np.nan

In [66]:
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,예보 등급
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate,NaN
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate,NaN
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate,NaN
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good,NaN
108031,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory,NaN
108032,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory,NaN
108033,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory,NaN
108034,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory,NaN

In [67]:
df['예보 등급'][rate1.index] = '매우 나쁨'
df['예보 등급'][rate2.index] = '나쁨'
df['예보 등급'][rate3.index] = '보통'
df['예보 등급'][rate4.index] = '좋음'

<ipython-input-67-bdd5c60c5257>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보 등급'][rate1.index] = '매우 나쁨'
C:\Users\82104\anaconda3\lib\site-packages\pandas\core\series.py:1031: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_labels(key, value)
C:\Users\82104\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-67-bdd5c60c5257>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보 등급'][rate2.index] = '나쁨'
<ipython-input-67-bdd5c60c5257>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보 등급'][rate3.index] = '보통'
<ipython-input-67-bdd5c60c5257>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보 등급'][rate4.index] = '좋음'

In [68]:
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,예보 등급
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN,나쁨
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate,매우 나쁨
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate,매우 나쁨
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate,매우 나쁨
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate,나쁨
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good,좋음
108031,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory,좋음
108032,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory,보통
108033,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory,보통
108034,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory,좋음

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86410 entries, 0 to 108034
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StationId   86410 non-null  object
 1   Date        86410 non-null  object
 2   PM2.5       86410 non-null  float64
 3   PM10        61525 non-null  float64
 4   NO          84336 non-null  float64
 5   NO2         85008 non-null  float64
 6   NOx         82658 non-null  float64
 7   NH3         58100 non-null  float64
 8   CO          83460 non-null  float64
 9   SO2         76848 non-null  float64
 10  O3          78770 non-null  float64
 11  Benzene     68896 non-null  float64
 12  Toluene     62284 non-null  float64
 13  Xylene      19935 non-null  float64
 14  AQI         83537 non-null  float64
 15  AQI_Bucket  83537 non-null  object
 16  예보 등급       86410 non-null  object
dtypes: float64(13), object(4)
memory usage: 13.9+ MB

### 학습에 가능하도록 수정.
- StationId
- Date
- AQI_Bucket
- 예보 등급 -> Target

In [70]:
F1 = pd.get_dummies(df['StationId'], prefix = 'StationId')
F1

,StationId_AP001,StationId_AP005,StationId_AS001,StationId_BR005,StationId_BR006,StationId_BR007,StationId_BR008,StationId_BR009,StationId_BR010,StationId_CH001,...,StationId_UP014,StationId_UP015,StationId_UP016,StationId_WB007,StationId_WB008,StationId_WB009,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
108031,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
108032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
108033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
108034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [71]:
del df['Date']
df

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,예보 등급
0,AP001,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN,나쁨
1,AP001,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate,매우 나쁨
2,AP001,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate,매우 나쁨
3,AP001,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate,매우 나쁨
4,AP001,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate,나쁨
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good,좋음
108031,WB013,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory,좋음
108032,WB013,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory,보통
108033,WB013,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory,보통
108034,WB013,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory,좋음

In [72]:
F2 = pd.get_dummies(df['AQI_Bucket'], prefix = 'AQI_Bucket')
F2

,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor
0,0,0,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,1,0,0,0,0
...,...,...,...,...,...,...
108030,1,0,0,0,0,0
108031,0,0,0,1,0,0
108032,0,0,0,1,0,0
108033,0,0,0,1,0,0
108034,0,0,0,1,0,0

In [73]:
df['예보 등급'].astype('category')

0            나쁨
1         매우 나쁨
2         매우 나쁨
3         매우 나쁨
4            나쁨
          ...
108030       좋음
108031       좋음
108032       보통
108033       보통
108034       좋음
Name: 예보 등급, Length: 86410, dtype: category
Categories (4, object): ['나쁨', '매우 나쁨', '보통', '좋음']

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86410 entries, 0 to 108034
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StationId   86410 non-null  object
 1   PM2.5       86410 non-null  float64
 2   PM10        61525 non-null  float64
 3   NO          84336 non-null  float64
 4   NO2         85008 non-null  float64
 5   NOx         82658 non-null  float64
 6   NH3         58100 non-null  float64
 7   CO          83460 non-null  float64
 8   SO2         76848 non-null  float64
 9   O3          78770 non-null  float64
 10  Benzene     68896 non-null  float64
 11  Toluene     62284 non-null  float64
 12  Xylene      19935 non-null  float64
 13  AQI         83537 non-null  float64
 14  AQI_Bucket  83537 non-null  object
 15  예보 등급       86410 non-null  object
dtypes: float64(13), object(3)
memory usage: 13.2+ MB

In [75]:
del df['StationId']
del df['AQI_Bucket']

In [79]:
df = pd.merge(df, F1, left_index = True, right_index = True, how = 'left')
df = pd.merge(df, F2, left_index = True, right_index = True, how = 'left')

In [80]:
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor
0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,...,0,0,0,0,0,0,0,0,0,0
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,...,0,0,0,0,0,1,0,0,0,0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,...,0,0,0,0,0,1,0,0,0,0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,...,0,0,0,0,0,1,0,0,0,0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,...,0,0,0,1,1,0,0,0,0,0
108031,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,...,0,0,0,1,0,0,0,1,0,0
108032,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,...,0,0,0,1,0,0,0,1,0,0
108033,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,...,0,0,0,1,0,0,0,1,0,0
108034,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,...,0,0,0,1,0,0,0,1,0,0

In [89]:
df = df.fillna(method = 'ffill')

In [90]:
df = df.fillna(method = 'bfill') # 맨 앞에 있는 것 중 nan 있으면 이것을 채워주기 위해서

In [91]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, confusion_matrix
from sklearn.preprocessing import StandardScaler # 일단은 사용하지 않기로.

In [92]:
target = df['예보 등급']
df.drop('예보 등급', axis = 1, inplace = True)

KeyError: '예보 등급'

In [93]:
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor
0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,...,0,0,0,0,0,0,0,0,0,0
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,...,0,0,0,0,0,1,0,0,0,0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,...,0,0,0,0,0,1,0,0,0,0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,...,0,0,0,0,0,1,0,0,0,0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,8.65,16.46,23.51,16.50,40.02,25.09,0.69,4.36,30.59,1.32,...,0,0,0,1,1,0,0,0,0,0
108031,11.80,18.47,23.51,16.50,40.02,25.09,0.68,3.49,38.95,1.42,...,0,0,0,1,0,0,0,1,0,0
108032,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,...,0,0,0,1,0,0,0,1,0,0
108033,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,...,0,0,0,1,0,0,0,1,0,0
108034,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,...,0,0,0,1,0,0,0,1,0,0

In [94]:
target

0            나쁨
1         매우 나쁨
2         매우 나쁨
3         매우 나쁨
4            나쁨
          ...
108030       좋음
108031       좋음
108032       보통
108033       보통
108034       좋음
Name: 예보 등급, Length: 86410, dtype: object

In [95]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size = 0.1, random_state = 42)

In [96]:
forest = RandomForestClassifier()

In [97]:
forest.fit(X_train, y_train)

RandomForestClassifier()

In [99]:
y_pred = forest.predict(X_test)

In [100]:
cross_val_score(estimator = forest, X = X_test, y = y_test, cv = 5)

array([0.98669751, 0.98553241, 0.98668981, 0.98784722, 0.98900463])

In [101]:
confusion_matrix(y_true = y_test, y_pred = y_pred)

array([[3009,    0,    3,    0],
       [   1, 3078,    0,    0],
       [   3,    0, 1871,    1],
       [   0,    0,   12,  663]], dtype=int64)

#### Random Grid Search로 성능 향상

In [117]:
from sklearn.model_selection import RandomizedSearchCV

In [126]:
forest_ = RandomForestClassifier()
distributions = {'max_depth' : [12, 24], 'n_estimators' : [100, 1000], 'max_leaf_nodes' : [8, 16, 24]}
clf = RandomizedSearchCV(forest_, distributions, random_state = 42)

search = clf.fit(X_test, y_test)
search.best_params_

KeyboardInterrupt:

# 로그 분석

In [107]:
data = pd.read_csv('./2번/access.log', delimiter = ' ', header = None)
data

,0,1,2,3,4,5,6,7,8,9
0,::1,-,-,[20/May/2021:21:30:52,+0900],GET / HTTP/1.1,403,491,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1,::1,-,-,[20/May/2021:23:16:52,+0900],GET / HTTP/1.1,500,803,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
2,::1,-,-,[20/May/2021:23:16:52,+0900],GET /favicon.ico HTTP/1.1,500,803,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3,::1,-,-,[20/May/2021:23:21:27,+0900],GET / HTTP/1.1,500,803,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
4,::1,-,-,[20/May/2021:23:21:27,+0900],GET /favicon.ico HTTP/1.1,500,803,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
...,...,...,...,...,...,...,...,...,...,...
785,::1,-,-,[25/May/2021:17:16:16,+0900],GET /upload_masked HTTP/1.1,200,26325,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
786,::1,-,-,[25/May/2021:17:16:26,+0900],POST /multi_upload_gan HTTP/1.1,302,450,http://localhost:5000/upload_masked,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
787,::1,-,-,[25/May/2021:17:16:26,+0900],GET / HTTP/1.1,200,26777,http://localhost:5000/upload_masked,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
788,::1,-,-,[25/May/2021:17:16:26,+0900],GET /print1.js HTTP/1.1,404,443,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
789,::1,-,-,[25/May/2021:17:16:26,+0900],GET /print1.js HTTP/1.1,404,443,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...

In [108]:
del data[1]
del data[2]
del data[4]

In [109]:
data

,0,3,5,6,7,8,9
0,::1,[20/May/2021:21:30:52,GET / HTTP/1.1,403,491,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1,::1,[20/May/2021:23:16:52,GET / HTTP/1.1,500,803,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
2,::1,[20/May/2021:23:16:52,GET /favicon.ico HTTP/1.1,500,803,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3,::1,[20/May/2021:23:21:27,GET / HTTP/1.1,500,803,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
4,::1,[20/May/2021:23:21:27,GET /favicon.ico HTTP/1.1,500,803,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
...,...,...,...,...,...,...,...
785,::1,[25/May/2021:17:16:16,GET /upload_masked HTTP/1.1,200,26325,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
786,::1,[25/May/2021:17:16:26,POST /multi_upload_gan HTTP/1.1,302,450,http://localhost:5000/upload_masked,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
787,::1,[25/May/2021:17:16:26,GET / HTTP/1.1,200,26777,http://localhost:5000/upload_masked,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
788,::1,[25/May/2021:17:16:26,GET /print1.js HTTP/1.1,404,443,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
789,::1,[25/May/2021:17:16:26,GET /print1.js HTTP/1.1,404,443,http://localhost:5000/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...

In [110]:
dic = {}
for i in range(len(data)):
    try:
        dic[data[0][i]] += 1
    except:
        dic[data[0][i]] = 1

In [111]:
dic

{'::1': 748, '127.0.0.1': 42}

In [113]:
res = pd.DataFrame(dic.items(), columns = ['IP', 'count'])
res

          IP  count
0        ::1    748
1  127.0.0.1     42

In [114]:
res = res.sort_values(by = 'count')
res

          IP  count
1  127.0.0.1     42
0        ::1    748