In [31]:
import pandas as pd

df = pd.read_csv('./data/station_day.csv')
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

## 과제

WHO의 대기질 가이드라인에 따르면 대기 중 미세먼지 농도에 따른 예보 등급은 다음과 같습니다. 주어진 데이터를 활용해, 각 예보 등급이 나타난 횟수를 알아내는 것이 이번 과제의 목표입니다.

| pm 2.5 농도(μg/m3)     | 예보 등급  |
|-----------------|------------|
| 76 이상         |  매우 나쁨 |
| 36 이상 76 미만 | 나쁨       |
| 16 이상 36 미만 | 보통       |
| 16 미만         | 좋음       |

## 할 일

##### 1. 결측치 처리

그래프를 그리기 앞서, `PM2.5`이 없는 row를 지워주세요.

##### 2. 각 예보 등급이 나타난 횟수 구하기

주어진 데이터를 활용해, "매우 나쁨" ,"나쁨", "보통", "좋음" 예보 등급이 각각 나타난 횟수를 알아내 주세요. 결과는 대략 다음과 같은 형식으로 나올 겁니다.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
    </tr>
    <tr>
      <th>예보 등급</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>매우 나쁨</th>
      <td>0</td>
    </tr>
    <tr>
      <th>나쁨</th>
      <td>0</td>
    </tr>
    <tr>
      <th>보통</th>
      <td>0</td>
    </tr>
    <tr>
      <th>좋음</th>
      <td>0</td>
    </tr>
  </tbody>
</table>

| pm 2.5 농도(μg/m3)     | 예보 등급  |
|-----------------|------------|
| 76 이상         |  매우 나쁨 |
| 36 이상 76 미만 | 나쁨       |
| 16 이상 36 미만 | 보통       |
| 16 미만         | 좋음       |

### 1. PM2.5의 결측치

In [32]:
df = df[df['PM2.5'].isnull() == False] # 갱신

> 86410개의 결측치 제거 값 확인 및 data 갱신

In [34]:
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [35]:
df.reset_index(inplace = True)
del df['index']
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
86406,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
86407,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
86408,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
86409,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

### 2. 예보 등급, 예보 등급에 따라 개수 표시.

In [46]:
f1 = df[df['PM2.5'] >= 76]
f2 = df[(df['PM2.5'] >= 36) & (df['PM2.5'] < 76)]
f3 = df[(df['PM2.5'] >= 16) & (df['PM2.5'] < 36)]
f4 = df[df['PM2.5'] < 16]

In [48]:
import numpy as np

df['예보등급'] = np.nan

In [54]:
df['예보등급'][f1.index] = '매우 나쁨'
df['예보등급'][f2.index] = '나쁨'
df['예보등급'][f3.index] = '보통'
df['예보등급'][f4.index] = '좋음'

<ipython-input-54-85487b7380aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보등급'][f1.index] = '매우 나쁨'
<ipython-input-54-85487b7380aa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보등급'][f2.index] = '나쁨'
<ipython-input-54-85487b7380aa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보등급'][f3.index] = '보통'
<ipython-input-54-85487b7380aa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['예보등급'][f4.index] = '좋음'

In [55]:
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Toluene,Xylene,AQI,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor,예보등급
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,...,5.92,0.10,NaN,0,0,0,0,0,0,나쁨
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,...,6.50,0.06,184.0,0,1,0,0,0,0,매우 나쁨
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,...,7.95,0.08,197.0,0,1,0,0,0,0,매우 나쁨
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,...,7.63,0.12,198.0,0,1,0,0,0,0,매우 나쁨
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,...,5.02,0.07,188.0,0,1,0,0,0,0,나쁨
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,...,7.26,NaN,50.0,1,0,0,0,0,0,좋음
86406,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,...,7.92,NaN,65.0,0,0,0,1,0,0,좋음
86407,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,...,8.64,NaN,63.0,0,0,0,1,0,0,보통
86408,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,...,8.40,NaN,57.0,0,0,0,1,0,0,보통
86409,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,...,7.39,NaN,59.0,0,0,0,1,0,0,좋음

In [60]:
cnt1 = f1['PM2.5'].count()
cnt2 = f2['PM2.5'].count()
cnt3 = f3['PM2.5'].count()
cnt4 = f4['PM2.5'].count()

In [61]:
dfNew = pd.DataFrame({'예보 등급' : ['매우 나쁨', '나쁨', '보통', '좋음'], 'count' : [cnt1, cnt2, cnt3, cnt4]})
dfNew

   예보 등급  count
0  매우 나쁨  30509
1     나쁨  30264
2     보통  18894
3     좋음   6743

In [62]:
dfNew.sort_values(by = 'count')

   예보 등급  count
3     좋음   6743
2     보통  18894
1     나쁨  30264
0  매우 나쁨  30509

### 3. 추가적인 학습

##### 학습을 위해 AQI_Bucket 을 one-hot encoding으로 변경

In [38]:
temp = pd.get_dummies(df['AQI_Bucket'], prefix = 'AQI_Bucket')
temp

,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor
0,0,0,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,1,0,0,0,0
...,...,...,...,...,...,...
86405,1,0,0,0,0,0
86406,0,0,0,1,0,0
86407,0,0,0,1,0,0
86408,0,0,0,1,0,0
86409,0,0,0,1,0,0

In [43]:
df = pd.merge(df, temp, left_index = True, right_index = True, how = 'left')
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Toluene,Xylene,AQI,AQI_Bucket,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,...,5.92,0.10,NaN,NaN,0,0,0,0,0,0
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,...,6.50,0.06,184.0,Moderate,0,1,0,0,0,0
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,...,7.95,0.08,197.0,Moderate,0,1,0,0,0,0
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,...,7.63,0.12,198.0,Moderate,0,1,0,0,0,0
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,...,5.02,0.07,188.0,Moderate,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,...,7.26,NaN,50.0,Good,1,0,0,0,0,0
86406,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,...,7.92,NaN,65.0,Satisfactory,0,0,0,1,0,0
86407,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,...,8.64,NaN,63.0,Satisfactory,0,0,0,1,0,0
86408,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,...,8.40,NaN,57.0,Satisfactory,0,0,0,1,0,0
86409,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,...,7.39,NaN,59.0,Satisfactory,0,0,0,1,0,0

- AQI_Bucket은 제거

In [44]:
del df['AQI_Bucket']
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Benzene,Toluene,Xylene,AQI,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,...,0.17,5.92,0.10,NaN,0,0,0,0,0,0
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,...,0.20,6.50,0.06,184.0,0,1,0,0,0,0
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,...,0.22,7.95,0.08,197.0,0,1,0,0,0,0
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,...,0.29,7.63,0.12,198.0,0,1,0,0,0,0
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,...,0.17,5.02,0.07,188.0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,WB013,2020-06-27,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,...,1.32,7.26,NaN,50.0,1,0,0,0,0,0
86406,WB013,2020-06-28,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,...,1.42,7.92,NaN,65.0,0,0,0,1,0,0
86407,WB013,2020-06-29,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,...,3.52,8.64,NaN,63.0,0,0,0,1,0,0
86408,WB013,2020-06-30,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,...,1.86,8.40,NaN,57.0,0,0,0,1,0,0
86409,WB013,2020-07-01,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,...,1.31,7.39,NaN,59.0,0,0,0,1,0,0

- 예보 등급 category로 타입 변경 `astype`

In [64]:
df['예보등급'].astype('category')

0           나쁨
1        매우 나쁨
2        매우 나쁨
3        매우 나쁨
4           나쁨
         ...
86405       좋음
86406       좋음
86407       보통
86408       보통
86409       좋음
Name: 예보등급, Length: 86410, dtype: category
Categories (4, object): ['나쁨', '매우 나쁨', '보통', '좋음']

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86410 entries, 0 to 86409
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   StationId                86410 non-null  object
 1   Date                     86410 non-null  object
 2   PM2.5                    86410 non-null  float64
 3   PM10                     61525 non-null  float64
 4   NO                       84336 non-null  float64
 5   NO2                      85008 non-null  float64
 6   NOx                      82658 non-null  float64
 7   NH3                      58100 non-null  float64
 8   CO                       83460 non-null  float64
 9   SO2                      76848 non-null  float64
 10  O3                       78770 non-null  float64
 11  Benzene                  68896 non-null  float64
 12  Toluene                  62284 non-null  float64
 13  Xylene                   19935 non-null  float64
 14  AQI                      83537 non-null  float64
 15  AQI_Bucket_Good          86410 non-null  uint8
 16  AQI_Bucket_Moderate      86410 non-null  uint8
 17  AQI_Bucket_Poor          86410 non-null  uint8
 18  AQI_Bucket_Satisfactory  86410 non-null  uint8
 19  AQI_Bucket_Severe        86410 non-null  uint8
 20  AQI_Bucket_Very Poor     86410 non-null  uint8
 21  예보등급                     86410 non-null  object
dtypes: float64(13), object(3), uint8(6)
memory usage: 11.0+ MB

In [66]:
df.drop('Date', axis = 1, inplace = True)

In [67]:
df

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,...,Toluene,Xylene,AQI,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor,예보등급
0,AP001,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,...,5.92,0.10,NaN,0,0,0,0,0,0,나쁨
1,AP001,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,...,6.50,0.06,184.0,0,1,0,0,0,0,매우 나쁨
2,AP001,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,...,7.95,0.08,197.0,0,1,0,0,0,0,매우 나쁨
3,AP001,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,...,7.63,0.12,198.0,0,1,0,0,0,0,매우 나쁨
4,AP001,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,...,5.02,0.07,188.0,0,1,0,0,0,0,나쁨
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,WB013,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,...,7.26,NaN,50.0,1,0,0,0,0,0,좋음
86406,WB013,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,...,7.92,NaN,65.0,0,0,0,1,0,0,좋음
86407,WB013,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,...,8.64,NaN,63.0,0,0,0,1,0,0,보통
86408,WB013,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,...,8.40,NaN,57.0,0,0,0,1,0,0,보통
86409,WB013,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,...,7.39,NaN,59.0,0,0,0,1,0,0,좋음

In [71]:
temp2 = pd.get_dummies(df['StationId'], prefix = 'StationId')
temp2

,StationId_AP001,StationId_AP005,StationId_AS001,StationId_BR005,StationId_BR006,StationId_BR007,StationId_BR008,StationId_BR009,StationId_BR010,StationId_CH001,...,StationId_UP014,StationId_UP015,StationId_UP016,StationId_WB007,StationId_WB008,StationId_WB009,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
86406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
86407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
86408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
86409,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [72]:
df = pd.merge(df, temp2, left_index = True, right_index = True, how = 'left')
df

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,...,StationId_UP014,StationId_UP015,StationId_UP016,StationId_WB007,StationId_WB008,StationId_WB009,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013
0,AP001,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,...,0,0,0,0,0,0,0,0,0,0
1,AP001,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,...,0,0,0,0,0,0,0,0,0,0
2,AP001,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,...,0,0,0,0,0,0,0,0,0,0
3,AP001,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,...,0,0,0,0,0,0,0,0,0,0
4,AP001,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,WB013,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,...,0,0,0,0,0,0,0,0,0,1
86406,WB013,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,...,0,0,0,0,0,0,0,0,0,1
86407,WB013,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,...,0,0,0,0,0,0,0,0,0,1
86408,WB013,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,...,0,0,0,0,0,0,0,0,0,1
86409,WB013,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,...,0,0,0,0,0,0,0,0,0,1

In [73]:
df.drop('StationId', axis = 1, inplace = True)
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,StationId_UP014,StationId_UP015,StationId_UP016,StationId_WB007,StationId_WB008,StationId_WB009,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013
0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,...,0,0,0,0,0,0,0,0,0,0
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,...,0,0,0,0,0,0,0,0,0,0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,...,0,0,0,0,0,0,0,0,0,0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,...,0,0,0,0,0,0,0,0,0,0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,...,0,0,0,0,0,0,0,0,0,1
86406,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,...,0,0,0,0,0,0,0,0,0,1
86407,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,...,0,0,0,0,0,0,0,0,0,1
86408,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,...,0,0,0,0,0,0,0,0,0,1
86409,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,...,0,0,0,0,0,0,0,0,0,1

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86410 entries, 0 to 86409
Columns: 127 entries, PM2.5 to StationId_WB013
dtypes: float64(13), object(1), uint8(113)
memory usage: 18.5+ MB

In [75]:
target = df['예보등급']
target

0           나쁨
1        매우 나쁨
2        매우 나쁨
3        매우 나쁨
4           나쁨
         ...
86405       좋음
86406       좋음
86407       보통
86408       보통
86409       좋음
Name: 예보등급, Length: 86410, dtype: object

In [76]:
df.drop('예보등급', axis =1, inplace = True)
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,StationId_UP014,StationId_UP015,StationId_UP016,StationId_WB007,StationId_WB008,StationId_WB009,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013
0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,...,0,0,0,0,0,0,0,0,0,0
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,...,0,0,0,0,0,0,0,0,0,0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,...,0,0,0,0,0,0,0,0,0,0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,...,0,0,0,0,0,0,0,0,0,0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,...,0,0,0,0,0,0,0,0,0,1
86406,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,...,0,0,0,0,0,0,0,0,0,1
86407,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,...,0,0,0,0,0,0,0,0,0,1
86408,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,...,0,0,0,0,0,0,0,0,0,1
86409,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,...,0,0,0,0,0,0,0,0,0,1

In [86]:
df = df.fillna(method = 'ffill')
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,StationId_UP014,StationId_UP015,StationId_UP016,StationId_WB007,StationId_WB008,StationId_WB009,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013
0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,...,0,0,0,0,0,0,0,0,0,0
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,...,0,0,0,0,0,0,0,0,0,0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,...,0,0,0,0,0,0,0,0,0,0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,...,0,0,0,0,0,0,0,0,0,0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,8.65,16.46,23.51,16.50,40.02,25.09,0.69,4.36,30.59,1.32,...,0,0,0,0,0,0,0,0,0,1
86406,11.80,18.47,23.51,16.50,40.02,25.09,0.68,3.49,38.95,1.42,...,0,0,0,0,0,0,0,0,0,1
86407,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,...,0,0,0,0,0,0,0,0,0,1
86408,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,...,0,0,0,0,0,0,0,0,0,1
86409,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,...,0,0,0,0,0,0,0,0,0,1

In [88]:
df = df.fillna(method = 'bfill') # 맨앞에 있어서 채워지지 않은 Nan 값 채우기
df

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,StationId_UP014,StationId_UP015,StationId_UP016,StationId_WB007,StationId_WB008,StationId_WB009,StationId_WB010,StationId_WB011,StationId_WB012,StationId_WB013
0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,...,0,0,0,0,0,0,0,0,0,0
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,...,0,0,0,0,0,0,0,0,0,0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,...,0,0,0,0,0,0,0,0,0,0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,...,0,0,0,0,0,0,0,0,0,0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86405,8.65,16.46,23.51,16.50,40.02,25.09,0.69,4.36,30.59,1.32,...,0,0,0,0,0,0,0,0,0,1
86406,11.80,18.47,23.51,16.50,40.02,25.09,0.68,3.49,38.95,1.42,...,0,0,0,0,0,0,0,0,0,1
86407,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,...,0,0,0,0,0,0,0,0,0,1
86408,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,...,0,0,0,0,0,0,0,0,0,1
86409,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,...,0,0,0,0,0,0,0,0,0,1

In [98]:
from sklearn.model_selection import train_test_split, cross_val_score

In [104]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size = 0.2, random_state = 42)

In [119]:
scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.fit_transform(X_test)

In [120]:
from sklearn.ensemble import RandomForestClassifier

In [121]:
forest = RandomForestClassifier()

In [126]:
forest.fit(X_train_scaler, y_train)

RandomForestClassifier()

In [108]:
from sklearn.metrics import f1_score, confusion_matrix

In [127]:
y_pred = forest.predict(X_test_scaler)
confusion_matrix(y_true = y_test, y_pred = y_pred)

array([[6062,    0,    3,    0],
       [   1, 6134,    1,    0],
       [  15,    0, 3695,    3],
       [   2,    0,   27, 1339]], dtype=int64)

In [124]:
cross_val_score(estimator = forest, X = X_test_scaler, y = y_test, cv = 5)

array([0.99247903, 0.99247903, 0.99247685, 0.9921875 , 0.99247685])

In [125]:
f1_score(y_true = y_test, y_pred = y_pred, average = None)

array([0.98909747, 0.99219841, 0.9855111 , 0.97260788])